@import "../sass/variable.scss";

/*General*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}


body{
    min-width: 350px;
}



/*Header*/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 15px 0;
    position: relative;

    a{
        padding-left: 0px;

        .fa-arrow-left::before{
            font-size: 1.2em;  
            position: absolute;
            left: 30px;
            top: 28.5px;
        }
    }

    img{
        height: 25px;
    }

}

/* Main image*/



.main-image{
    object-fit: cover;
    width: 100%;
    max-height: 30rem;
}

/* Main Menu*/

.menu{
    background-color: $bg-grey;
    padding: 10px 14px 58px;
    border-radius: 30px 30px 0 0;
    width:100%;
    margin-top: -40px;
    position: relative;
}

.menu-header{
    display: flex;
    justify-content: space-between;

    h1{
        font-family: Shrikhand;
        font-weight: 500;
    }

    .fa-heart{
        font-size: 1.563em;
        margin-right: 17px;
        position: relative;

        &::after{
            content:"\f004";
            font-size: 1.06em;
            position: absolute;
            right: -0.03em;
            top: -0.03em;
            font-weight: 600;
            -webkit-background-clip: text; /*pour que le bg image soit seulement sur le coeur*/
            -webkit-text-fill-color: transparent; /*pour ne pas que le coeur devienne noir au hover*/
            background-image: linear-gradient($sec-color , $prim-color);
            transform: scale(0);
        }

        &.fa-heart:hover::after{
            transform: scale(1);
            transition: 500ms ease-in-out;
            cursor: pointer;
        }

    }

}

.menu-part{
    margin: 35px 0 0 0;
}

.s-d-d-header{
    display: flex;
    flex-direction: column;

    &::after{
        content:"";
        padding: 1.5px 0;
        background: #99e2d0;
        display: inline-block;
        width: 40px;
        margin-top: 5px;
    }
}

.s-d-d-card{
    display: flex;
    margin-top: 20px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 5px 8px 2px  rgb(218, 226, 225);
    animation: card 500ms cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;

    &:hover .menu-check{
        width: 70px;
    }

    &:hover .menu-check-div{
        transform: rotate(180deg);
        transition-duration: 500ms;
    }
    .fa-check:before{
        display: none;
     }
 
     &:hover .fa-check:before{
        display: initial;
     }
    

}

.timing1{
animation-delay: 900ms;
}
.timing2{
animation-delay: 800ms;
}
.timing3{
animation-delay: 700ms;
}
.timing4{
animation-delay: 600ms;
}
.timing5{
animation-delay: 500ms;
}
.timing6{
animation-delay: 400ms;
}
.timing7{
animation-delay: 300ms;
}
.timing8{
animation-delay: 200ms;
}
.timing9{
animation-delay: 100ms;
}

@keyframes card{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.menu-info{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    h3{
        margin: 15px 0 0 15px;
    }

    p{
        margin: 0 0 15px 15px;
    }

}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-price{
    margin: 37.5px 18px 0 0px;
    margin-left: auto;
    text-align: right;
    flex-grow: 1;
    
}



.menu-check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #99e2d0;
    width: 0px;
    transition-duration: .5s;
    border-radius:  20px;
    transform: rotate(180deg);
    
}

.menu-check-div{
    height: 27px;
    width: 27px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fa-check{
    color: #99e2d0;
}



.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    button{
        padding: 17px 50px;
        border-radius: 50px;
        border: transparent;
        font-weight: 400;
        font-size: 1em;
        color: white;
        background-image: radial-gradient(ellipse at 0 0, $sec-color 35%, $prim-color 100%);
        box-shadow: 2px 5px 8px 2px  rgb(218, 226, 225);
        
    }

    button:hover{
        opacity: 0.80;
        transition: 200ms ease-out;
        box-shadow: 2px 5px 8px 2px  rgb(180, 187, 186);
        cursor: pointer;
        
    }

}


/*Footer*/

@import "../sass/footer.scss";

/*Responsive - min-768px*/

@import "../sass/menu_1-responsive.scss";