/*General*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*Body*/
body {
  min-width: 350px;
  counter-reset: x;
  margin: 0 auto;
}

/* Loader */
.loader-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  opacity: 0.96;
  z-index: 1000;
  animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.loader {
  height: 75px;
  width: 75px;
  position: relative;
}

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  opacity: 0.95;
  animation: spin 1s linear infinite;
}

.loader-double::after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-radius: 50px;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-bottom-color: #FF79DA;
  border-top-color: #FF79DA;
  opacity: 0.6;
  animation: spin-reverse 2s linear infinite;
}

.loader-double::before {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-radius: 50px;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border-bottom-color: #99E2D0;
  border-top-color: #99E2D0;
  opacity: 0.5;
  animation: spin-reverse 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
    visibility: 1;
  }
  100% {
    transform: rotate(-360deg);
    visibility: 0;
  }
}
/*Header*/
.header {
  box-shadow: 0 0 12px #b9bebe;
  margin-bottom: 3px;
  padding: 20px 0 15px;
}

.header-container {
  display: flex;
  justify-content: center;
}
.header-container img {
  height: 28px;
}

/*Location*/
.location {
  text-align: center;
  background-color: #eaeaea;
  padding: 15px 0 15px 25px;
}

input {
  background-color: #eaeaea;
  border: transparent;
}
input::placeholder {
  font-weight: 500;
  color: black;
}
input:focus {
  outline: transparent;
}

.location-i::before {
  padding-right: 15px;
}

/*Presentation*/
.presentation {
  background-color: #f6f6f6;
  padding: 33px 0 50px;
}
.presentation h1 {
  text-align: center;
  padding: 0 50px 12px;
}
.presentation p {
  text-align: center;
  padding: 0 22px 24px;
  font-weight: 300;
}

.presentation-btn {
  text-align: center;
}
.presentation-btn button {
  padding: 14px 16px;
  border-radius: 25px;
  border: transparent;
  font-weight: 400;
  color: white;
  background-image: radial-gradient(ellipse at 0 0, #FF79DA 35%, #9356DC 100%);
  box-shadow: 2px 5px 8px 2px #dae2e1;
}
.presentation-btn button:hover {
  opacity: 0.8;
  transition: 200ms ease-out;
  cursor: pointer;
}

/*Prestation*/
.prestation {
  padding: 50px 15px 68px 27px;
}
.prestation h1 {
  padding-bottom: 20px;
}
.prestation .prest-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.prestation .prest-card {
  display: flex;
  background: #f6f6f6;
  border-radius: 20px;
  padding: 24px 0 46px 0;
  height: 70px;
  box-shadow: 2px 5px 8px 2px #dae2e1;
  position: relative;
}
.prestation .prest-card:hover {
  background: #f5edff;
}
.prestation .prest-card:hover .fas {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #9356DC;
}
.prestation .prest-card:before {
  content: "" counter(x);
  counter-increment: x;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background: #9356DC;
  font-size: 0.85em;
  padding: 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: -12px;
}
.prestation .fa-mobile-alt {
  padding-right: 0px;
}
.prestation .fa-list-ul {
  padding-right: 5px;
}
.prestation i {
  padding-top: 3px;
}
.prestation i:before {
  color: #7e7e7e;
  padding: 0 0 0 45px;
  font-size: 1.2em;
}
.prestation .prest-card h4 {
  padding: 2px 0 0 15px;
}
.prestation .prest-card-h4 {
  margin-left: 13px;
}

/*Restaurants*/
.restaurants {
  padding: 50px 20px;
  background: #f6f6f6;
  gap: 15px;
}
.restaurants h1 {
  padding-bottom: 20px;
}

.resto-cards {
  display: grid;
  gap: 15px;
}

.resto-card {
  width: 100%;
  box-shadow: 2px 5px 8px 2px #cbd3d2;
  border-radius: 20px;
  background: white;
}
.resto-card img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.resto-card:hover {
  transform: scale(1.01);
  transition: 300ms ease-out;
}

.resto-card-new {
  position: relative;
}
.resto-card-new::before {
  content: "Nouveau";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #008766;
  background: #99e2d0;
  font-size: 1em;
  font-weight: 500;
  padding: 13px;
  height: 8px;
  width: 70px;
  border-radius: 3px;
  right: 20px;
  top: 20px;
}

.resto-infos {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 0 0 20px 20px;
  padding: 12px 14px 14px 12px;
}
.resto-infos h4 {
  font-weight: 800;
}
.resto-infos p {
  padding-top: 5px;
  font-weight: 300;
}
.resto-infos .fa-heart {
  font-size: 1.3em;
}
.resto-infos .fa-heart:hover {
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: 150ms ease-in-out;
  cursor: pointer;
}

/*Footer*/
/*Footer*/
footer {
  background: #353535;
  padding: 20px 0 25px 20px;
}
footer .fa-utensils {
  padding-right: 10px;
  color: white;
}
footer .fa-hands-helping {
  padding-right: 2px;
  color: white;
}

.foot-header {
  padding-bottom: 15px;
  color: white;
  font-family: Shrikhand;
  font-size: 1.15em;
}

.foot-list {
  padding-bottom: 10px;
}
.foot-list a {
  color: white;
}
.foot-list:hover {
  text-decoration: underline;
}

/*Responsive - min-768px*/
@media screen and (min-width: 1024px) {
  .prestation h1 {
    text-align: center;
  }
  .prestation .prest-cards {
    flex-direction: row;
    width: 100%;
  }
  .prestation .prest-card {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 50px;
    width: 33%;
  }
  .prestation .prest-card-h4 {
    margin-left: 0;
  }
  .prestation i:before {
    padding: 0 10px;
  }

  .restaurants h1 {
    text-align: center;
  }

  .resto-cards {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .resto-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}
/*Responsive - min-1280px*/

/*# sourceMappingURL=style.css.map */
